:root{
  --full-width:100%;
  --black-color:#111;
  --white-color:white;
}
*{
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    width: var(--full-width);
    height: auto;
    background-color: var(--white-color);
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }

/**************search-Bar***********/
.search-bar {
  display: flex;
  padding: 20px;
}
.log {
  width: 15%;
}
.logo {
  width: var(--full-width);
  height: 4rem;
}
.search {
  width: 70%;
  margin: 0 2.5%;
}
.search-logo {
  width:10% ;
}
#search {
  width:  var(--full-width);
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--white-color);
  background-image: url('../images/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}


  /**************navBar**********************/
  header {
    width: var(--full-width);
    height: auto ;
    position: sticky;
    top: 0;
    background-color: var(--black-color);
 z-index: 1;

  }
  
  ul {
    list-style: none;
  }
  
  .log li {
    padding:0 10px;
    list-style: none;
  }
  
  li>a {
    color: var(--white-color);
    text-decoration: none;
  transition: 0.5s;
  } 
  
  li>a:hover{
    border-bottom: 2px solid var(--white-color);
    font-size: large;
  }
  
/*********footer***********/
footer{
    text-align: center;
    color: var(--white-color);
    background-color: var(--black-color);
    min-height: 25vh;
    padding: 20px ;
    width: var(--full-width);
  }
  .footer-nav {
    font-size: 30px;
    margin-top: 1%;
  }

  footer i {
    color: var(--white-color);
    transition: 0.5s;
  }
  footer i:hover {
    color: var(--black-color);
    background: var(--white-color);
  }
  footer input {
    width: 30%;
  }
  footer input[type=email]{
    background: var(--black-color); 
    border: 1px solid var(--white-color);
    margin-bottom: 10px;
    height: 3rem;
    color: var(--white-color);
    border-radius: 5px;

  }
  footer input[type=submit]{
    background-color: var(--white-color) ;
    color: var(--black-color);
    font-size:20px;
    transition: 0.5s;
    height: 3rem;
    border-radius: 5px;

  
  }
  footer input[type=submit]:hover{
    background-color: var(--black-color);
    filter: brightness(5);
    color: var(--white-color);
    cursor: pointer;
  }
  footer ::placeholder{
    color: var(--white-color);
  }  
  /********classes********/

  .row {
    display: flex;
    flex-direction: row;
  justify-content: space-around;
  }  
  /*************buttons****************/
button {
  height: 45px;
  width: 115px;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;

}
.button-white:hover {
  background-color: rgba(17, 17, 17, 0);
  color: var(--white-color);
}
.button-black:hover {
  background-color: rgba(17, 17, 17, 0.616);
  color: var(--white-color);
}
.button-black {
  transition: 0.5s;
  background-color: var(--black-color);
  color: var(--white-color);
  border: var(--white-color) solid 1px;
}
.button-white{
  transition: 0.5s;
  background-color: var(--white-color);
  color: var(--black-color);
}
/*********************/
nav {
  height: 50px;
}
hr {
  margin-left: 7%;
  margin-right: 7%;
}
/***********navBar  for Phone************/

header h1 {
  text-align: center;
  
 
}
header >h1 >a{
  height: 0;

  text-align: center;
  
}

span{
  display: none ;
}
.overlay {
height: 100%;
width: var(--full-width);
display: none;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
position: relative;
top: 25%;
width: var(--full-width);
text-align: center;
margin-top: 30px;
}

.overlay a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: var(--white-color);
display: block;
transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
color: #f1f1f1;
}

.overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}

/************media screen***************/
@media screen and (max-width: 600px) {
  .search {
    display: none  ;
  }
  .search-bar {
    display: flex;
    justify-content: space-between ;
  }
  .log i{
width: 3rem  ; 
text-align: center  ;
}
hr {
  display: none;
}  
body{
      width: var(--full-width);
  }
    header {
         width: var(--full-width);
         height: auto  ;
         justify-content:space-around  ;
         display: flex ;
         margin: 0;
         padding: 0;    
    }
    footer {
      width: var(--full-width);

    }
    footer input {
      width: 80%;
    }
.main-nav {

       display: none;
    }
    .search-logo img{

        height: 7vh;
        width: auto;
    }
  
    header h1 {
        text-align: center;
        
       
    }
    header >h1 >a{
        height: 0;
        text-align: center;
    }
    span{
        display:block  ;
        color: var(--white-color);
margin: 5% 5% 0   ;
margin-right: 5%  ;
    }

    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }

}

