body {
  margin: 0;
  
}
a{
  text-decoration: none;
}
/*****************classes*******************/
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
flex-direction: column;
}
.w3-tag,
.fa {
    cursor: pointer
}

.w3-tag {
    height: 15px;
    width: 15px;
    padding: 0;
    margin-top: 6px
}

.badge {
  display: block;
}

/******************main******************/

main {
  width: 100%;
  height: auto;
}
main .row {
  text-align: center;
  height: 60vh;
  width:80%;
  margin: 4% 10% ; 
} 
.offer {
  width: 30%;
background-color: #c7c7c7;
}
main img {
  width: 70%;
}
.mg-left {
  margin-left: 5%;
}
/************main products****************/

.product {
  width: 90%;
  margin: 0 5%;
}
.product .product-sec {
  height: 25vh;
  
}
.over-flow {
  /*overflow-x: scroll;*/
  width: 100%;

}
.product .over-flow  {
width: 90%;
height: 20rem;
}
.over-flow img {
  height: 10rem;
  width: 10rem;
}
.product-sec a {
  color: #111;
}

.img h3 {
  text-align: left;

}
.margin {
  margin-left: 3%;
}
.links {
  margin-left: 8%;
}
.links a {
 padding: 10px;
  width: auto;
   border-radius: 50px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

/*************animation*******************/
.slideshow 
 {
  height:100%;
  width:100%;
 overflow: hidden;
}

input[name="slide"] {
  display: none;
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slide {
  width: 25%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.s1{
  animation: slide 10s ease-in-out 0s infinite alternate;
  
}

#giraffe:checked~.s1 {
  margin-left: 0;
}

#hippo:checked~.s1 {
  margin-left: -25%;
}

#pinguin:checked~.s1 {
  margin-left: -50%;
}

#rhino:checked~.s1 {
  margin-left: -75%;
}

@keyframes slide {
  0%{
      margin-left: 0;
  }

  25%{
      margin-left:-25%;
  }

  50%{
      margin-left:-50%;
  }

  75%{
      margin-left:-75%;
  }

  100%{
      margin-left:-75%;
  }
}
/******************Shop*******************/

#shop article,#shop img{
  width: 50%;
  height: 100%;
}
#shop article {
  background: #111;
  text-align: center;
}
#shop p {
  font-size: 60px;
  color: white;
}
/*************product section******************/

section {
  width: 90%;
  margin: 2% 5%  ;
  height: 90vh;
}


/*************about section******************/

#about img,#about article {
  width: 50%;
  height: 100%;
  color: white;
  background: #111;
}
#about article {
  text-align: left;
}
#about h1 {
  font-size: 40px;
  font-weight: 500;
}
#about h2 {
  font-size: 30px;
  font-weight: 400;
}
#about button {
  margin-top: 10%;
}
/***************contact section**********************/
#contact {
  background: white;
  color: #162b6f;
}
#contact form {
  width: 50%;
  height: 100%;
}
iframe {
  width: 40%;
  height: 70%;
}
form input {
  height: 9%;
  border: #162b6f solid 1px;
  width: 50%;
  margin: 0 -2px ;
}
#submit {
 margin-top: -5px;
}
textarea {
resize: unset;
height: 21%;
margin: 0 -2px ;
}

textarea,#subject,#submit{
  width: 100%;
}
/*********************************/
@media screen and (max-width:600px) {
  
 body,main,section {
    width: 100%;
    height: auto;
    margin: 0;
  }

#contact,#shop,#about{
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
}
.links {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product>.row {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  text-align: center;
}
.row h3 {
  text-align: center;
}
#shop article,#shop img,#about img,#about article,#contact form,iframe{
  width: 100%;
  height: auto;
  margin: 0;
}
main .row {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  width: 100%;
}
.offer,.slide-show{
  height: 35vh;
  width: 100%;
  text-align: center;

}
h1 {
  font-size: large;
}

#contact {
text-align: center;
align-items: center;
}
#contact input {
  height: 3rem;
  width: 90%;
}
textarea {
  height: 6rem;
  width: 90%;

}
iframe {
  margin: 5% 0;
  height: 40vh;
  width: 90%;
}
#shop h1 ,#about h1 {
  margin-top: 2%;
}
#shop button,#about button {
margin-bottom: 5%;
}
}
/**************************/
