main {
    width: 90%;
    height: auto;
    margin: 0 auto;
    color: #111;
}

/********class*********/
.title {
    text-align: center;
    color: #111;
}
.title h1 {
    font-size: 50px;
}
.title h2 {
    font-size: 30px;
}
img {
    width:20rem;
    height: 20rem;
}
section p {
    width: 80%;
font-size: 20px;}
section h2 {
    font-size: 20px;
    color: #111;
}
